* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
.time,
.left-side,
.right-side,
.right-top,
.right-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 80vh;
    background: #2e2e45;
}

h2{
    background: -webkit-linear-gradient(90deg, rgb(88, 239, 0), white);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px;
position: relative;

font-size: 2.8em;

    /* animation: slide 6s ease-in-out 1s 1; */
    
    
}


@keyframes slide{
0%{margin-left:-20px;}
20%{margin-left:-400px;}
35%{margin-left:00px;}
100%{margin-left:0px;}
}
.digital-clock,
.time {
    position: relative;
}

.digital-clock {
    color: white;
    background: #2c202c;
    width: 450px;
    padding: 20px 45px;
    /* box-shadow: 0 5px 25px rgba(14,21,37, 0.8); */
    border-radius: 10px;


    
}

.digital-clock::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, blue, orange, green);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(30px);
    animation: glowing 3s ease-in-out infinite;
}

@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#hours {
    font-weight: 800px;
    padding: 0 10px;
    line-height: 125px;
    font-size: 8em;
    background: -webkit-linear-gradient(90deg, rgb(239, 235, 0), white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side {
    flex-direction: column;

}

#dots {
    font-size: 4em;
    transform: translateY(-3px);
    margin-top: 20px;
    color: gray;
}

#minutes {
    font-size: 5em;
    font-weight: 550;
    margin-left: 10px;
    margin-top: 15px;
    transform: translateY(8px);
    background: -webkit-linear-gradient(90deg, rgb(0, 102, 255), white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-down {
    margin-left: 14px;
    transform: translateY(-25px);
}

#period,
#seconds {
    font-size: 1.8em;
    font-weight: 550;
    margin-left: 20px;
    margin-top: 15px;
}

#period {
    color: orange;
}

#seconds {
    color: white;
    margin-left: 12px;
    background: -webkit-linear-gradient(90deg, rgb(255, 0, 247), white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}